*.cm[ioax]
*.cmxa
*.a
*.o
*.so
META
odbc_*.c
odbc_*.ml
odbc_*.mli
*.byte
*.native
.depend
opam/opam
.chamo*
configure
config.log
config.status
Makefile.master
autom4te.cache/
Biniki/biniki_messages.ml
Biniki/Odbc_driver.ml
*.tar.gz
