# .mailmap file for odbc				-*-conf-*-
Christophe Troestler <Christophe.Troestler@umons.ac.be> <chris@24f41ba6-1239-4317-b21c-b79ed87a1d06>
Maxence Guesdon <maxence.guesdon@inria.fr> <zoggy@24f41ba6-1239-4317-b21c-b79ed87a1d06>
Maxence Guesdon <maxence.guesdon@inria.fr> <guesdon@24f41ba6-1239-4317-b21c-b79ed87a1d06>